<popup-dialog #settingsdialog [width]="800">
    <div windowcaption>
        <div>Settings (version: {{version}})</div>
    </div>
    <div dialogbody>
       <tabs (tabChanged)="onTabChanged($event)">
          <tab [tabTitle]="'Options'">
             <div class="options-list">
                <bool-input label="show generated music" [(ngModel)]="showGeneratedMusic"></bool-input>
                <div class="description">enable this to allow direct playing of generated mp3 VBR files</div>
             </div>
          </tab>
          <tab tabTitle="Audio Devices">
             <div class="device-list" *ngFor="let d of devices">
                <ng-container *ngIf="d.type !== AudioDeviceType.Browser">
                   <div class="machine-name">({{d.hostMachine}})</div>
                   <bool-input title="enable/disable this device" [(ngModel)]="d.enabled"></bool-input>
                   <text-input title="change display name of device" [(ngModel)]="d.displayName"></text-input>
                   <button class="small secondary update-button" (click)="onDeviceUpdate(d)">Update</button>
                </ng-container>
             </div>
          </tab>
          <tab tabTitle="Catalogue Operations">
             <div class="operations-list">
                <button class="secondary" (click)="onRescanStyle(MusicStyles.Popular)" ngClass>Rescan Popular</button>
                <div class="description">Rescan the Popular library. Updates the catalogue to the current state of music files in the Popular library</div>
                <button class="secondary" (click)="onRescanStyle(MusicStyles.WesternClassical)" ngClass>Rescan Western Classical</button>
                <div class="description">Rescan the Western Classical library. Updates the catalogue to the current state of music files in the Western Classical library</div>
                <button class="secondary" (click)="onRescanStyle(MusicStyles.IndianClassical)" ngClass>Rescan Indian Classical</button>
                <div class="description">Rescan the Indian Classical library. Updates the catalogue to the current state of music files in the Indian Classical library</div>
                <button class="secondary" (click)="onRescanStyle(MusicStyles.HindiFilms)" ngClass>Rescan Hindi Films</button>
                <div class="description">Rescan the Hindi Films library. Updates the catalogue to the current state of music files in the Hindi Films library</div>
                <button class="secondary" (click)="onStartMusicScanner()">Rescan All Libraries</button>
                <div class="description">Rescan the entire catalogue. Updates the catalogue to the current state of all music files</div>
                <button class="danger" (click)="onResetDatabase()">Reset Database</button>
                <div class="description">Deletes the existing catalogue and then rescan the entire catalogue. All current contents will be lost (including playlists)</div>
             </div>
          </tab>
          <tab tabTitle="Theme Palette">
             <div class="colour-panel">
                <div>theme-colour('background')</div><div class="swatch theme-background"></div>
                <div>theme-colour('background', 'light')</div><div class="swatch theme-background-light"></div>
                <div>theme-colour('background', 'dark')</div><div class="swatch theme-background-dark"></div>
                <div>darken(theme-colour('background', 'dark'), 20%)</div><div class="swatch theme-surface-dark-20"></div>
                <div class="spacer"></div><div class="spacer"></div>
                <div>theme-colour('surface')</div><div class="swatch theme-surface"></div>
                <div>theme-colour('surface', 'light')</div><div class="swatch theme-surface-light"></div>
                <div>theme-colour('surface', 'dark')</div><div class="swatch theme-surface-dark"></div>
                <div>darken(theme-colour('surface', 'dark'), 20%)</div><div class="swatch theme-surface-dark-20"></div>
                <div class="spacer"></div><div class="spacer"></div>
                <div>theme-colour('primary')</div><div class="swatch theme-primary"></div>
                <div>theme-colour('primary', 'light')</div><div class="swatch theme-primary-light"></div>
                <div>theme-colour('primary', 'dark')</div><div class="swatch theme-primary-dark"></div>
                <div>darken(theme-colour('primary', 'dark'), 5%)</div><div class="swatch theme-primary-dark-5"></div>
                <div>darken(theme-colour('primary', 'dark'), 10%)</div><div class="swatch theme-primary-dark-10"></div>
                <div>lighten(theme-colour('primary', 'light'), 20%)</div><div class="swatch theme-primary-light-20"></div>
                <div class="spacer"></div><div class="spacer"></div>

                <div>theme-colour('accent')</div><div class="swatch theme-accent"></div>
                <div>theme-colour('accent', 'light')</div><div class="swatch theme-accent-light"></div>
                <div>theme-colour('accent', 'dark')</div><div class="swatch theme-accent-dark"></div>
                <div>darken(theme-colour('accent', 'dark'), 5%)</div><div class="swatch theme-accent-dark-5"></div>
                <div>darken(theme-colour('accent', 'dark'), 10%)</div><div class="swatch theme-accent-dark-10"></div>
                <div>darken(theme-colour('accent', 'light'), 25%)</div><div class="swatch theme-accent-light-dark-25"></div>
                <div>lighten(theme-colour('accent', 'light'), 25%)</div><div class="swatch theme-accent-light-25"></div>
                <div class="spacer"></div><div class="spacer"></div>
                <div>$high-accent-colour</div><div class="swatch high-accent-colour"></div>
                <div>darken($high-accent-colour, 35%)</div><div class="swatch high-accent-colour-dark-35"></div>
             </div>
          </tab>
       </tabs>

    </div>
    <div dialogcommands>
        <button (click)="onClose()">Close</button>
    </div>
</popup-dialog>
