<popup-dialog #settingsdialog [width]="800">
    <div windowcaption>
        <div>Settings {{version}}</div>
    </div>
    <div dialogbody>
        <div class="settings-dialog">
            <div class="selector-panel">
                <!--<button (click)="changeSettings(SettingsSelector.Popular)" [ngClass]="{secondary: currentSettings == SettingsSelector.Popular}">Popular</button>
                <button (click)="changeSettings(SettingsSelector.WesternClassical)" [ngClass]="{secondary: currentSettings == SettingsSelector.WesternClassical}">Western Classical</button>-->
                <button (click)="changeSettings(SettingsSelector.CatalogMethods)" [ngClass]="{secondary: currentSettings == SettingsSelector.CatalogMethods}">Catalog methods</button>
                <button (click)="changeSettings(SettingsSelector.AudioDevices)" [ngClass]="{secondary: currentSettings == SettingsSelector.AudioDevices}">Audio Devices</button>
                <button (click)="changeSettings(SettingsSelector.Colours)" [ngClass]="{secondary: currentSettings == SettingsSelector.Colours}">Colours</button>
            </div>
            <div class="settings-panel">
                <div class="popular-settings" *ngIf="currentSettings == SettingsSelector.Popular">
                    <div class="setting-header">Popular settings</div>
                    <table>
                        <tr>
                            <td>Show Artists</td>
                            <td><i class="fa fa-toggle-on toggle-show-artists" [ngClass]="{'fa-rotate-180': !popularSettings.showArtists}" (click)="togglePopularShowArtists()"></i></td>
                        </tr>
                    </table>
                </div>
                <div *ngIf="currentSettings == SettingsSelector.WesternClassical">
                    <div class="setting-header">Western Classical settings</div>
                </div>
                <div *ngIf="currentSettings == SettingsSelector.AudioDevices">
                    <div class="setting-header">Audio Devices</div>
                    <div class="device-list" *ngFor="let d of devices">
                        <div class="machine-name">({{d.hostMachine}})</div>
                        <bool-input title="enable/disable this device" [(ngModel)]="d.enabled"></bool-input>
                        <text-input title="change display name of device" [(ngModel)]="d.displayName"></text-input>
                        <button class="small secondary update-button" (click)="onDeviceUpdate(d)">Update</button>
                    </div>
                </div>
                <div *ngIf="currentSettings == SettingsSelector.CatalogMethods">
                    <div class="setting-header">Catalog methods</div>
                    <button class="secondary" (click)="onStartMusicScanner()">Start Music Scanner</button>
                    <button class="secondary" (click)="onStartCatalogueValidator()">Start Validator</button>
                    <button class="danger" (click)="onResetDatabase()">Reset Database</button>
                </div>
                <div *ngIf="currentSettings == SettingsSelector.Colours">
                    <div class="setting-header">Colours</div>
                    <div class="colour-panel">
                        <div>theme-colour('background')</div><div class="swatch theme-background"></div>
                        <div>theme-colour('background', 'light')</div><div class="swatch theme-background-light"></div>
                        <div>theme-colour('background', 'dark')</div><div class="swatch theme-background-dark"></div>
                        <div>darken(theme-colour('background', 'dark'), 20%)</div><div class="swatch theme-surface-dark-20"></div>
                        <div class="spacer"></div><div class="spacer"></div>
                        <div>theme-colour('surface')</div><div class="swatch theme-surface"></div>
                        <div>theme-colour('surface', 'light')</div><div class="swatch theme-surface-light"></div>
                        <div>theme-colour('surface', 'dark')</div><div class="swatch theme-surface-dark"></div>
                        <div>darken(theme-colour('surface', 'dark'), 20%)</div><div class="swatch theme-surface-dark-20"></div>
                        <div class="spacer"></div><div class="spacer"></div>
                        <div>theme-colour('primary')</div><div class="swatch theme-primary"></div>
                        <div>theme-colour('primary', 'light')</div><div class="swatch theme-primary-light"></div>
                        <div>theme-colour('primary', 'dark')</div><div class="swatch theme-primary-dark"></div>
                        <div>darken(theme-colour('primary', 'dark'), 5%)</div><div class="swatch theme-primary-dark-5"></div>
                        <div>darken(theme-colour('primary', 'dark'), 10%)</div><div class="swatch theme-primary-dark-10"></div>
                        <div>lighten(theme-colour('primary', 'light'), 20%)</div><div class="swatch theme-primary-light-20"></div>
                        <div class="spacer"></div><div class="spacer"></div>

                        <div>theme-colour('accent')</div><div class="swatch theme-accent"></div>
                        <div>theme-colour('accent', 'light')</div><div class="swatch theme-accent-light"></div>
                        <div>theme-colour('accent', 'dark')</div><div class="swatch theme-accent-dark"></div>
                        <div>darken(theme-colour('accent', 'dark'), 5%)</div><div class="swatch theme-accent-dark-5"></div>
                        <div>darken(theme-colour('accent', 'dark'), 10%)</div><div class="swatch theme-accent-dark-10"></div>
                        <div>darken(theme-colour('accent', 'light'), 25%)</div><div class="swatch theme-accent-light-dark-25"></div>
                        <div>lighten(theme-colour('accent', 'light'), 25%)</div><div class="swatch theme-accent-light-25"></div>
                        <div class="spacer"></div><div class="spacer"></div>
                        <div>$high-accent-colour</div><div class="swatch high-accent-colour"></div>
                        <div>darken($high-accent-colour, 35%)</div><div class="swatch high-accent-colour-dark-35"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div dialogcommands>
        <button (click)="onClose()">Close</button>
    </div>
</popup-dialog>
