<div class="component-container"  (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
   <div *ngIf="catalogView === CatalogView.DefaultView">
      <div class="artists-panel">
         <ng-container *ngFor="let artist of allArtists">
            <div class="artist-descr" (click)="onArtistClick(artist)">
               <div class="artist-image">
                  <img *ngIf="artist.imageUrl" [src]="artist.imageUrl" />
               </div>
               <div class="artist-name">{{artist.name}}</div>
               <div class="artist-stats">{{getArtistStats(artist)}}</div>
            </div>
         </ng-container>
      </div>
   </div>
   <div *ngIf="catalogView === CatalogView.SearchResults">
      <div class="composer-list" *ngIf="composers.length > 0">
         <div class="composer" *ngFor="let composer of composers">
            <ng-container *ngIf="composer.compositions.length > 0">
               <div class="identity" (click)="toggleShowWorks(composer)">
                  <div class="image-container">
                     <img class="image" *ngIf="composer.imageUrl" [src]="composer.imageUrl" />
                  </div>
                  <div class="details">
                     <div class="name">
                        <highlighted-text [searchText]="searchText" [text]="composer.name" [prefixMode]="prefixMode"></highlighted-text>
                     </div>
                     <div class="">{{getComposerDetails(composer)}}</div>
                  </div>
               </div>
               <div *ngIf="composer.showWorks" class="compositions">
                  <div class="composition-container" *ngFor="let composition of composer.compositions">
                     <div class="composition">
                        <ng-container>
                           <div class="composition-name" (tap)="onTapComposition(composition)">
                              <i class="fa " [ngClass]="{'fa-chevron-circle-down': !composition.showPerformances, 'fa-chevron-circle-up': composition.showPerformances}"></i>
                              <highlighted-text [searchText]="searchText" [text]="composition.name" [prefixMode]="prefixMode"></highlighted-text>
                           </div>
                        </ng-container>
                        <div class="performances" *ngIf="composition.showPerformances">
                           <div class="performance-container" *ngFor="let performance of composition.performances">
                              <div class="name-row">
                                 <div class="image-container" (click)="toggleShowMovements(performance)">
                                    <img class="image" *ngIf="performance.albumCoverArt" [ngClass]="{'small': isTouchDevice()}" [src]="performance.albumCoverArt" />
                                 </div>
                                 <div class="performance-origin" [ngClass]="{'is-highlit': performance.isHighLit}" (tap)="onTapPerformance(composition, performance)" (contextmenu)="onRightClick($event, composition, performance)">
                                    <highlighted-text class="performers" [searchText]="searchText" [text]="getPerformanceSource(performance)" [prefixMode]="prefixMode"></highlighted-text>
                                    <div class="duration">{{performance.formattedDuration}}</div>
                                    <div class="command-panel" (mouseenter)="onPerformanceMouse(performance, true)" (mouseleave)="onPerformanceMouse(performance, false)">
                                       <ng-container *ngIf="!isTouchDevice()">
                                          <i title="play now" class="fa fa-play" (click)="onPlayPerformance(performance)"></i>
                                          <i title="add to play list" class="fa fa-plus-square" (click)="onQueuePerformance(performance)"></i>
                                       </ng-container>
                                    </div>
                                    <!--</ng-container>-->
                                    <div *ngIf="performance.movements.length > 1">{{performance.movements.length}} movements</div>
                                    <div *ngIf="performance.movements.length === 1">{{performance.movements.length}} movement</div>
                                 </div>

                              </div>
                              <div *ngIf="performance.showMovements" class="movements striped-rows">
                                 <ng-container *ngIf="!isTouchDevice()">
                                    <div *ngFor="let movement of performance.movements">
                                       <div class="movement" [ngClass]="{'is-highlit': movement.isHighLit}">
                                          <div class="command-panel" (mouseenter)="onMovementMouse(movement, movement.musicFiles[0], true)" (mouseleave)="onMovementMouse(movement, movement.musicFiles[0], false)">
                                             <i title="play now" class="fa fa-play" (click)="onPlayMovement(movement)"></i>
                                             <i title="add to play list" class="fa fa-plus-square" (click)="onQueueMovement(movement)"></i>
                                          </div>
                                          <div class="movement-number">{{movement.number}}</div>
                                          <highlighted-text class="movement-title" [searchText]="searchText" [text]="movement.title" [prefixMode]="prefixMode"></highlighted-text>
                                          <!--<div class="movement-title">{{movement.title}}</div>-->
                                          <div class="audio-files">
                                             <ng-container  *ngFor="let file of movement.musicFiles">
                                                <div class="audio-details" [ngClass]="{'is-highlit': movement.musicFiles[0].isHighLit}">
                                                   <span class="audio-properties">({{file.audioProperties}})</span>
                                                   <span class="duration">{{file.formattedDuration}}</span>
                                                </div>
                                                <div  class="command-panel" (mouseenter)="onMovementMouse(movement, movement.musicFiles[0], true)" (mouseleave)="onMovementMouse(movement, movement.musicFiles[0], false)">
                                                   <i title="play now" class="fa fa-play" (click)="onPlayMusicFile(file)"></i>
                                                   <i title="add to play list" class="fa fa-plus-square" (click)="onQueueMusicFile(file)"></i>
                                                </div>
                                             </ng-container>
                                          </div>
                                       </div>
                                    </div>
                                 </ng-container>
                                 <ng-container *ngIf="isTouchDevice()">
                                    <div *ngFor="let movement of performance.movements; let even = even">
                                       <div class="movement" (tap)="onTapMovement(composition, performance, movement)" [ngClass]="{'is-highlit': movement.isHighLit, 'even-row': even}">
                                          <div><!-- dummy to maintain grid layout--></div>
                                          <div class="movement-number is-touch-device">{{movement.number}}</div>
                                          <div class="movement-title  is-touch-device">{{movement.title}}</div>
                                          <div class="audio-details">
                                             <span class="duration">{{movement.musicFiles[0].formattedDuration}}</span>
                                          </div>
                                          <div><!-- dummy to maintain grid layout--></div>
                                       </div>
                                    </div>
                                 </ng-container>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </ng-container>
         </div>
         <!--<app-western-classical-performance-editor></app-western-classical-performance-editor>-->
      </div>
      <div *ngIf="searchFoundNothing === true">
         <div>Search found nothing</div>
      </div>
      <command-panel></command-panel>
   </div>
   <popup-message></popup-message>
</div>
<wc-tag-editor></wc-tag-editor>
