<popup-dialog [nocaption]="true" [width]="400">
    <div dialogbody>
        <div class="banner">
            <div class="image-container">
                <img *ngIf="getImageUrl()" class="image" [src]="getImageUrl()" />
            </div>
            <div class="description">
               <ng-container  *ngFor="let line of getDescription()">
                  <div>{{line}}</div>
               </ng-container>
            </div>
        </div>

        <div class="menu-items">
           <ng-container *ngIf="isTouchDevice()">
              <div class="menu-item" (click)="onPlay($event)" [ngClass]="{'disabled': !audioDeviceAvailable}">Play</div>
              <div class="menu-item" (click)="onQueue($event)" [ngClass]="{'disabled': !audioDeviceAvailable}">Queue</div>
           </ng-container>
           <ng-container *ngIf="!isTouchDevice()">
              <div class="menu-item" (click)="onResample()">Resample</div>
           </ng-container>
           <div class="menu-item" (click)="onCancel($event)">Cancel</div>
        </div>
    </div>
</popup-dialog>

