<div class="component-container" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
  <div *ngIf="catalogView === CatalogView.DefaultView">
     <artists-view (artistSelected)="onArtistClick($event)"></artists-view>
  </div>
  <div *ngIf="catalogView === CatalogView.SearchResults">
    <div class="albums" *ngIf="matchedWorks.length > 0">
       <div class="album" *ngFor="let album of matchedWorks">
          <div class="name-row">
             <div class="image-container">
                <img class="image" *ngIf="album.coverArtUrl" [src]="album.coverArtUrl" (click)="toggleAlbumTracks(album)" />
             </div>
             <div class="album-identifier" (contextmenu)="onRightClick($event, album)">
                <ng-container *ngIf="!isTouchDevice()">
                   <div class="album-name" [ngClass]="{'is-highlit': album.isHighLit}" >
                      <div>
                         <highlighted-text [searchText]="searchText" [text]="album.name" [prefixMode]="prefixMode"></highlighted-text>
                      </div>
                      <div class="duration">{{album.formattedDuration}}</div>
                      <div class="command-panel" (mouseenter)="onAlbumMouse(album, true)" (mouseleave)="onAlbumMouse(album, false)">
                         <div >
                            <i title="play album now" class="fa fa-play" (click)="onPlayAlbum(album)"></i>
                            <i title="add album to play list" class="fa fa-plus-square" (click)="onQueueAlbum(album)"></i>
                         </div>
                      </div>
                   </div>
                   <div class="artist-name">
                      <highlighted-text [searchText]="searchText" [text]="album.artistName" [prefixMode]="prefixMode"></highlighted-text>
                   </div>
                </ng-container>
                <ng-container *ngIf="isTouchDevice()">
                   <div (tap)="onTapAlbum(album)">
                      <div class="album-name is-touch-device" [ngClass]="{'is-highlit': album.isHighLit}">
                         <div>
                            <highlighted-text [searchText]="searchText" [text]="album.name" [prefixMode]="prefixMode"></highlighted-text>
                         </div>
                         <div class="duration">{{album.formattedDuration}}</div>
                      </div>
                      <div class="artist-name">
                         <highlighted-text [searchText]="searchText" [text]="album.artistName" [prefixMode]="prefixMode"></highlighted-text>
                      </div>
                   </div>
                </ng-container>

             </div>
          </div>
          <track-list *ngIf="album.showTracks" [tracks]="album.tracks" [highlightText]="searchText" [prefixMode]="prefixMode"></track-list>
       </div>
    </div>
    <div class="tracks" *ngIf="matchedTracks.length > 0">
       <track-list  [tracks]="matchedTracks" [layoutAsSingles]="true" [highlightText]="searchText" [prefixMode]="prefixMode"></track-list>
    </div>
    <div *ngIf="searchFoundNothing === true">
      <div>Search found nothing</div>
    </div>
    <command-panel></command-panel>
  </div>
  <popup-message></popup-message>
</div>
<!--<popular-tag-editor></popular-tag-editor>-->
