<div [ngClass]="{'mobile-device': isMobileDevice()}">
   <ng-container *ngIf="deviceStatus">
      <div class="cover">
         <ng-container *ngIf="currentItem">
            <img [src]="currentItem.coverArtUrl" />
            <div class="title artist-name">{{currentItem.artistName}}</div>
            <div class="title">{{currentItem.collectionName}}</div>
            <div class="title track-name">{{currentItem.title}}</div>
            <div class="audio-properties">{{currentItem.audioProperties}}</div>
         </ng-container>
      </div>
      <ng-container *ngIf="deviceStatus">
         <div class="playing-slider">
            <div class="duration">{{deviceStatus.formattedCurrentTime}}</div>
            <slider name="playingslider" [minimum]="0" [maximum]="100" [current]="playPosition" [canslide]="canReposition()" (currentChange)="onPlayPositionChanged($event)"></slider>
            <div class="duration">{{deviceStatus.formattedRemainingTime}}</div>
         </div>
      </ng-container>
   </ng-container>
   <ng-container>
      <div class="audio-controls">
         <div class="fa fa-fast-backward skip-back" title="Skip to previous" (click)="skipBackward()"></div>
         <div class="fa fa-2x toggle-play-pause" title="Toggle play/pause" [ngClass]="{'fa-pause-circle-o' : isPlaying(), 'fa-play-circle-o': !isPlaying()}" (click)="togglePlayPause()"></div>
         <div class="fa fa-fast-forward skip-forward" title="Skip to next" (click)="skipForward()"></div>
      </div>
      <div *ngIf="device && device.type !== AudioDeviceType.Browser" class="volume-slider">
         <i class="fa fa-volume-off volume-down"></i>
         <slider name="volumeslider" [minimum]="0" [maximum]="1" [current]="volume" (currentChange)="onVolumeChange($event)" ></slider>
         <i class="fa fa-volume-up volume-up"></i>
      </div>
   </ng-container>
   <playlist-bar></playlist-bar>
   <web-audio></web-audio>
</div>
