<div [ngClass]="{'mobile-device': isMobileDevice()}">
   <ng-container *ngIf="deviceStatus">
      <div class="cover">
         <ng-container *ngIf="currentItem">
            <img [src]="currentItem.coverArtUrl" />
            <ng-container *ngFor="let title of currentItem.titles; let first = first; let last = last">
               <div class="title" [ngClass]="{'artist-name': first, 'track-name': last}">{{title}}</div>
            </ng-container>
            <div class="audio-properties">{{currentItem.audioProperties}}</div>
         </ng-container>
      </div>
      <ng-container *ngIf="deviceStatus">
         <div class="playing-slider">
            <div class="duration">{{deviceStatus.formattedCurrentTime}}</div>
            <div #playSlider class="groove" [ngClass]="{'repositioning-disabled': canReposition() === false}" (mouseup)="onPlayingSliderMouseUp($event)">
               <div #playBead class="bead fa fa-circle" [ngStyle]="{left: playBeadPosition}"></div>
            </div>
            <div class="duration">{{deviceStatus.formattedRemainingTime}}</div>
         </div>
      </ng-container>
   </ng-container>
   <ng-container>
      <div class="audio-controls">
         <div class="fa fa-fast-backward skip-back" title="Skip to previous" (click)="skipBackward()"></div>
         <div class="fa  fa-2x toggle-play-pause" title="Toggle play/pause" [ngClass]="{'fa-pause-circle-o' : isPlaying(), 'fa-play-circle-o': !isPlaying()}" (click)="togglePlayPause()"></div>
         <div class="fa fa-fast-forward skip-forward" title="Skip to next" (click)="skipForward()"></div>
      </div>
      <div class="volume-slider">
         <i class="fa fa-volume-off volume-down" (click)="volumeDown()"></i>
         <div #volumeSlider class="groove" (mouseup)="onVolumeSliderMouseUp($event)">
            <div #volumeBead class="bead fa fa-circle" [ngStyle]="{left: volumeBeadPosition}"></div>
         </div>
         <i class="fa fa-volume-up volume-up" (click)="volumeUp()"></i>
      </div>
   </ng-container>
   <ng-container>
      <div class="playlist-bar">
         <button class="icon" (click)="onSavePlaylist()" title="Save current playlist as ..."><div class="fa fa-file"></div></button>
         <button class="icon" (click)="onTransferPlaylist()" title="Load playlist from another device"><div class="fa fa-download"></div></button>
         <button class="icon" (click)="onLoadSavedPlayList()" title="Load saved playlist"><div class="fa fa-file-text-o"></div></button>
      </div>
      <div class="current-playlist">
         <div class="playlist-name">{{getPlaylistName()}}</div>
         <div class="playlist-duration">{{getPlaylistDuration()}}</div>
      </div>
   </ng-container>
   <popup-dialog class="transfer-playlist-dialog" #transferPlaylist [width]="400">
      <div windowcaption>
         <div>Copy Playlist</div>
      </div>
      <div dialogbody>
         <div class="main-body">
            <ng-container *ngIf="transferModel && transferModel.ready">
               <ng-container *ngIf="transferModel.devices.length === 0; else devicesAvailable">
                  <div>No other devices are currently available</div>
               </ng-container>
               <ng-template #devicesAvailable>
                  <div>Copy playlist from:</div>
                  <div class="device-list">
                     <ng-container *ngFor="let d of transferModel.devices">
                        <button (click)="transferModel.onDeviceSelected(d)" [ngClass]="{'secondary': d.selected}">{{d.displayName}}</button>
                     </ng-container>
                  </div>
               </ng-template>
            </ng-container>
         </div>
      </div>
      <div dialogcommands>
         <button (click)="transferModel.onOK()" [ngClass]="{'disabled': !(transferModel && transferModel.isOKEnabled())}">OK</button>
         <button (click)="transferModel.onCancel()">Cancel</button>
      </div>
   </popup-dialog>
   <popup-dialog class="save-playlist-dialog" #savePlaylist [width]="400" [ngClass]="{'mobile-device': isMobileDevice()}">
      <div windowcaption>
         <div>Save Playlist</div>
      </div>
      <div dialogbody>
         <div class="main-body">
            <ng-container *ngIf="saveModel && saveModel.ready">
               <div *ngIf="saveModel.existingNames.length > 0" class="save-type-selection">
                  <enum-input noborder name="saveType" [(ngModel)]="saveModel.saveType" [names]="saveModel.saveTypeNames" [enumType]="PlaylistSaveType"></enum-input>
               </div>

               <div class="entry-body">
                  <ng-container *ngIf="saveModel.saveType === PlaylistSaveType.New; else replaceName">
                     <text-input label="New Playlist name" name="playlistName" [(ngModel)]="saveModel.newName" (ngModelChange)="saveModel.onNewNameTextChanged()" [validator]="saveModel.validators.item('newplaylist')"></text-input>
                  </ng-container>
                  <ng-template #replaceName>
                     <div>
                        <combo-box [dropdownonly]="true" label="Playlist name" [(ngModel)]="saveModel.existingName" [items]="saveModel.existingNames"></combo-box>
                     </div>
                  </ng-template>
               </div>
            </ng-container>
         </div>
      </div>
      <div dialogcommands>
         <button (click)="saveModel.onSave()" [ngClass]="{'disabled': !(saveModel && saveModel.isSaveEnabled())}">Save</button>
         <button (click)="saveModel.onCancel()">Cancel</button>
      </div>
   </popup-dialog>
   <web-audio></web-audio>
</div>
