<div class="play-list" [ngClass]="{'mobile-device': isMobileDevice()}">
   <ng-container *ngFor="let item of playlist">
      <div *ngIf="item.type === PlaylistItemType.SingleItem" class="play-list-single-item list-item">
         <div class="fa fa-caret-right is-playing-icon" [ngClass]="{visible: isPlayingIconVisible(item)}"></div>
         <!--<div [title]="getFullTitle(item)" class="item-title" (click)="playItem(item)" [ngClass]="{'is-playable': isPlayable(item)}">{{getTitle(item)}}</div>-->
         <div class="item-title" [tooltip]="itemTooltip" tooltipPlacement="top-left" (click)="playItem(item)" [ngClass]="{'is-playable': isPlayable(item)}">{{getTitle(item)}}</div>
         <div class="item-time">{{item.formattedTotalTime}}</div>

      </div>
      <div *ngIf="item.type === PlaylistItemType.MultipleItems" class="play-list-multiple-items  list-item">
         <div class="fa fa-caret-right is-playing-icon" [ngClass]="{visible: isPlayingIconVisible(item)}"></div>
         <div class="fa fa-eject open-close-icon" [ngClass]="{'fa-rotate-180': item.isOpen === false}" (click)="toggleMultipleItems(item)"></div>
         <div class="item-title" [tooltip]="itemTooltip" tooltipPlacement="top-left" (click)="toggleMultipleItems(item)">{{getTitle(item)}}</div>
         <div class="item-time">{{item.formattedTotalTime}}</div>
      </div>
      <ng-container *ngIf="item.isOpen">
         <div *ngFor="let subItem of item.subItems" class="play-list-sub-item  list-item">
            <div class="fa fa-caret-right space-icon"></div>
            <div class="fa fa-caret-right is-playing-icon" [ngClass]="{visible: isPlayingIconVisible(subItem)}"></div>
            <div class="item-title" [tooltip]="subItemTooltip" tooltipPlacement="top-left" (click)="playItem(subItem)" [ngClass]="{'is-playable': isPlayable(subItem)}">{{getTitle(subItem)}}</div>
            <div class="item-time">{{subItem.formattedTotalTime}}</div>
            <tooltip-content #subItemTooltip>
               <div class="tooltip-panel">
                  <img [src]="subItem.coverArtUrl" />
                  <ng-container *ngFor="let title of subItem.titles; let first = first; let last = last">
                     <div class="title" [ngClass]="{'artist-name': first, 'track-name': last}">{{title}}</div>
                  </ng-container>
               </div>
            </tooltip-content>
         </div>
      </ng-container>
      <tooltip-content #itemTooltip>
         <div class="tooltip-panel">
            <img [src]="item.coverArtUrl" />
            <ng-container *ngFor="let title of item.titles; let first = first; let last = last">
               <div class="title" [ngClass]="{'artist-name': first, 'track-name': last}">{{title}}</div>
            </ng-container>
         </div>
      </tooltip-content>

   </ng-container>

</div>
